.projectWrapper {
  padding-bottom: 10%;
}
.projectPlaceHolder {
    width: 200px;
    height: 200px;
    display: block;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
}
.projectSubTitle {
  text-align: left;
  display: inline;
}
.projectText {
    text-align: left;
}
.project {
  margin-top: 5%;
  margin-bottom: 5%;
}
#divider {
  height: 2px;
  width: 80%;
  background: blue;
  background: linear-gradient(90deg, hsl(0, 0%, 20%), hsl(0, 0%, 70%), hsl(0, 0%, 20%));
  margin-right: auto;
  margin-left: auto;
}