
.companyLogo {
    float: left;
    margin-right: 5%;
    margin-left: 10%;
    margin-top: 5%;
}
.companyText {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin-top: 4%;
}
.experienceText {
    text-align: left;
    font-size: 8px;
}
.imageDiv {
    width: 100%;
}
.companyContainer {
    display: block;
    overflow: hidden;
    margin-bottom: 5%;
}
.imageContainer {
    display: block;
}
.exp {
    margin-top: 15%;
    margin-bottom: 15%;
}

/* Desktop */
@media (min-width: 992px) {

  



}