#heroSection {
    text-align: center;
    letter-spacing: 5px;
}
.heroTitle {
    font-size: 25px;
    text-align: center;
    font-family: "Inknut Antiqua", serif;
    font-style: normal;
    font-weight:300;
    color: #E2D7D7
    
}
.cityTitle{
    font-family: "Inknut Antiqua", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    color: #E2D7D7
}
.stateTitle{
    font-family: "Inknut Antiqua", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    color: #E2D7D7
}
.portfolioImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    margin-top: 5%;
    --shadow-color: #284A3F;
    border-radius: 10px;
}

.box {
    filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    )
}

/* Desktop */
@media (min-width: 992px) {

    .heroTitle {
        padding-top: 2%;
    }
    .portfolioImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: 35%;
        margin-top: 2%;
        --shadow-color: #284A3F;
        border-radius: 10px;
    }
    .projectTitle {
        text-align: center;
    }
}