#heroSection {
    text-align: center;
    letter-spacing: 5px;
}
.heroTitle {
    font-size: 40px;
    text-align: center;
}
.cityTitle{
    font-size: 20px;
}
.stateTitle{
    font-size: 20px;
}
.portfolioImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    margin-top: 5%;
    --shadow-color: hsl(220deg 60% 50%);
    border-radius: 10px;
}

.box {
    filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    )
}

/* Desktop */
@media (min-width: 992px) {

    .heroTitle {
        padding-top: 2%;
    }
    .portfolioImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: 35%;
        margin-top: 2%;
        --shadow-color: hsl(220deg 60% 50%);
        border-radius: 10px;
    }
}