.socialIcons {
  height: 25px;
  width: 25px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20%;
}

.socialSection {
  text-align: center;
  margin: auto;
  height: 100px;
}

.contactSection {
  text-align: center;
  margin: auto;
  height: 200px;

}

.contactTitle {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 8px;
  color: #284A3F;
  font-family: "Inknut Antiqua", serif;
  text-align: center;
}

.contactText {
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* Desktop */
@media (min-width: 992px) {

  .contactTitle {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 2px;
    color: #284A3F;
    font-family: "Inknut Antiqua", serif;
  }
  .socialSection{
    height: 100px;
  }

  .contactText {
    margin-left: 2%;
    font-size: 14px;
    font-weight: 500;
  }

  .socialIcons {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;

  }
}