.headers {
    margin-top: 20%;
}

.headerTitle {
    font-size: 14px;
    font-family: "Inknut Antiqua", serif;
    font-weight: bolder;
    color: #E2D7D7
}

/* Desktop */
@media (min-width: 999px) {

    .headers {
        margin-top: 3%;
    }

    .headerTitle {
        font-size: 22px;
        letter-spacing: 10px;
        font-weight: bolder;
    }

    a {
        color: #E2D7D7
    }

    a :hover {
        color: #E2D7D7
    }

    a :visited {
        color: #E2D7D7
    }
}