#headersSection {
    margin-top: 20%;
}

.headerTitle {
    font-size: 13px;
    font-family: "Inknut Antiqua", serif;
    font-weight: bolder;
    color: #768692
}

/* Desktop */
@media (min-width: 999px) {

    #headersSection {
        margin-top: 3%;
        font-size: 22px;
        font-weight: bolder;
    }

    .headerTitle {
        font-size: 22px;
        letter-spacing: 10px;
        font-weight: bolder;
    }

    a {
        color: #768692
    }

    a :hover {
        color: #768692
    }

    a :visited {
        color: #768692
    }
}