#mainSection {
    text-align: center;
}

.mainTitle {
    font-size: 25px;
    text-align: center;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    color: #284A3F;
    padding-top: 5%;
}

.cityTitle {
    font-family: "Inknut Antiqua", serif;
    font-size: 20px;
    font-weight: bolder;
    color: #284A3F;
}

.stateTitle {
    font-family: "Inknut Antiqua", serif;
    font-size: 20px;
    font-weight: bolder;
    color: #284A3F;
}

.portfolioImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    margin-top: 5%;
    --shadow-color: #284A3F;
    border-radius: 10px;
}

.box {
    filter: drop-shadow(1px 2px 8px var(--shadow-color))
}

/* Desktop */
@media (min-width: 992px) {

    .mainTitle {
        padding-top: 2%;
    }

    .portfolioImage {
        width: 25%;
        height: 25%;
        margin-top: 2%;
    }

    .projectTitle {
        text-align: center;
    }
}