#contentSection {
    border: 2px solid black;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding-top: 10%;
}

.box {
    filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    )
}

#contentTitle{
    font-size: 35px;
    letter-spacing: 10px;
    margin-bottom: 20%;
    text-align: center;
}

/* Desktop */
@media (min-width: 992px) {
    #contentSection {
        padding-top: 5%;
        text-align: left;
    }
    #contentTitle{
        font-size: 45px;
        letter-spacing: 10px;
        margin-bottom: 3%;
    }



}